<div class="container">
  {% paginate collection.products by 2 %}
    <div class="row">
      <h1>{{ collection.title }}</h1>
    </div>

    <div class="row">
      {% for product in collection.products %}
        {% assign image = product.featured_media.preview_image %}
        <div class="col-3 g-2">
          <div class="card" style="width: 18rem;">
            {% if image %}
              <img
                class="card-img-top"
                src="{{ image |  image_url: width: 400, height: 400 }}"
                alt="{{ product.title }}"
              >
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}

            <div class="card-body">
              <h3>
                <a href="{{ product.url }}">{{ product.title }}</a>
              </h3>
              <p>{{ product.price | money }}</p>
            </div>
          </div>
        </div>
      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>
  {% endpaginate %}
</div>
